$bg-color:#ffffd4;
$btn-dark:#000;
$btn-light:#fff;

@mixin pc_w_h {
    max-width: 1360px; min-width: 320px;
    height: 750px; margin: 50px auto 0;
    padding: 60px;
}
@mixin flex-row {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start; align-items: center;
}
@mixin bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin slide-btn {
    display: inline-block; width: 250px; line-height: 60px;
    text-align: center; border-radius: 40px;
    font-size: 1.1rem; font-weight: 600;
}
@mixin pst-ab {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: max-content;
}