// 1360x750
// #ffffd4
@use './common.scss' as *;
main {
    #slide_wrap {
        @include pc_w_h;
        position: relative;
        background-color: $bg-color;
        /* background-image: ; */
        .slide_container {
            .slide {}
            .slide1 {background-image: url(../image/home_bg.png);
                @include bg-cover; background-size: 800px; background-position: 120% center;
                .title_contents {
                    h1 {font-size: 4.3rem; font-weight: 700; line-height: 1.4;}
                    p {font-size: 3rem; font-weight: 600; margin-top: 20px;}
                }.bnr_link {
                    a {@include slide-btn; border: 1px solid #000;
                        .education_link {background-color: #000;}
                        .news_btn {}
                    }
                }
            }
        }.slide_page_btn {@include pst-ab; top: auto; bottom: 50px; left: 60px;
            @include flex-row;
            .pagenation {
                .current {}
                .bar {}
                .total {}
            }.btn_g {
                button.prev {}
                button.next {}
            }
        }
    }
}
