//basic2.scss
$main-color:aqua;
$sub-color:pink;
@mixin flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin font {
    font-size: 1.25rem;
    font-weight: 500;
}
@mixin after_design {
    content: ''; display: block; position: absolute; 
    background-color: #000;
}

header {
    @include flex-align-center;
    flex-flow: row nowrap;
    background-color: $main-color;
    @include font;
    h1 {color: $sub-color;}
    nav {
        .gnb {
            @include flex-align-center;
            flex-flow: column nowrap;
            > li {
                > a {
                    &:hover {color:$sub-color}
                    &::after {
                        @include after_design;
                        width: 10px; height: 10px;
                        left: 0; top: 0;
                    }
                }
                .lnb {
                    li {
                        a {
                            &:hover {color:$sub-color}
                            &::after {
                                @include after_design;
                                width: 20px; height: 15px;
                                right: 0; top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
